@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

.horizontal-wipeout {
	background-image:
		linear-gradient(to right, #FFFFFF, #FFFFFF 10%, transparent, #FFFFFF 90%, #FFFFFF),
		url('../public/confusing_banner.png');
	background-position: 75px -100px;
	height: 400px;
}
